*.pro
*.user
*/*.pro
*/*.user
build/**/*
Docs/
Docs/**/*
execution/
execution/**/*
monolayer_GUI-build/**/*
monolayer_GUI-768-build/**/*
ToDo/
/GUI/monolayer_GUI.pro.user
/GUI/monolayer_GUI.pro
/backup-14-08-15
/src/spheroid-28-07-2015.f90
VBA/**/*
/GUI/snapshot.png
